* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

html {
    background-image: url("images/low-poly-grid-haikei.svg");
    color: #ffffff;
}

img {
    width: 100%;
}

.top-nav {
    background: #001E44;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
    height: 3rem;
}
.top-nav > a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.chapter-section {
    margin: 1rem;
    padding: 1rem;
}
h1 {
    color: #1E407C;
    font-size: 24px;
}

h2 {
    color: #1E407C;
    font-size: 20px;
}

h3 {
    color: #96BEE6;
    font-size: 18px;
}

.divider-img {

}
.divider-down {
    transform: translateY(-1rem);
}

footer {
    background: #001E44;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
    height: 3rem;
}
.footer-img {
    transform: scaleX(-1) scaleY(-1) translateY(-10px);
}

